.App {
  text-align: center;
}

.link {
  margin-right: 2rem;
  text-decoration: none;
}

.navbar {
  text-align: 'left';
  padding: '1rem';
}

#heading {
  float: 'left';
  width: '70%';
}

#toggleMode {
  float: 'right';
  position: absolute;
  width: '30%';
  padding-top: '2rem';
}
